<div class="wrapper">
  <h1>
    <span class="part1">Bank</span>
    <span class="part2"> Support Portal</span>
  </h1>
  <app-form-handler></app-form-handler>
</div>


<!-- <form>
        <input type="email" placeholder="E-mail">
        <i class="fas fa-check success-symbol"></i>
        <i class="fas fa-times error-symbol"></i>
        <br>
        <span class="error-msg">Invalid Username</span>
        <input type="password" placeholder="Password">
        <i class="fas fa-check success-symbol"></i>
        <i class="fas fa-times error-symbol"></i>
        <input type="submit" value="Login">
        <p>Forgot your password? <a href="#">Reset it here.</a></p>
    </form> -->